
body{
    margin: 0px;
}
.all_text{
   font-family: Microsoft JhengHei,monospace;
   color: white;
}

#navbar {
  background-color:#2E8B57; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 30px;
  text-decoration: none;
}

#navbar a:hover {
  background-color:#90EE90;
  color:#2E8B57;
}

#button_one_hover a:hover{
  background-color:#4682B4;

}

#button_two_hover a:hover{
  background-color:#8B4513;

}

#button_third_hover a:hover{
  background-color:#2E8B57;

}

#note{
  width: 1000px;
  margin: 0 auto;
  padding-top: 60px;
  font-size: 20px;
  text-align: center;
}

.button_grorps_one{
  margin: 0 auto;
  padding-top: 100px;
  font-family: Microsoft JhengHei,monospace;
}

.button_grorps_two{
  margin: 0 auto;
  padding-top: 40px;
  font-family: Microsoft JhengHei,monospace;  
}

.button_grorps_third{
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 100px;
  font-family: Microsoft JhengHei,monospace;  
}

.button_green{
    background-color: #326e3a;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 15px;
}

.button_blue{
    background-color: #32526e;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 15px;

}

.button_red{
    background-color: #731f08;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 15px;
}


.order {
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.order .line {
    display: inline-block;
    width: 35%;
    border-top: 1px solid whitesmoke;
}
.order .txt {
    color: whitesmoke;
    vertical-align: middle;
    font-family: Microsoft JhengHei,monospace;
}


.footer{
   position: flat;
   padding:25px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: lightgray;
   text-align: center;
   font-family: arial;
   font-size: 15px;
}

#top_adjust{
    margin-top: 100px;
}






